@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  
}

:root{
--azul:#5A7ABD;

}
.logoh2{
    color:var(--azul);
    margin-top: -20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
}

.base {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

/* Estilo específico para #basef */
.basefundo1 {
    background-image: url(/ProjetoVI/frontend/img/base.png);
    
}

/* Estilo específico para #basef2 */
.basefundo2 {
    background-image: url(/ProjetoVI/frontend/img/base1.png);
}

.logo{
    margin-left: 10px;
}
.menu{
    display: flex;
    
    
}

nav {
    margin-left: 50%;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--azul);
    font-size: 26px;
    text-decoration: none;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #ff7b47;
}

.opcao{
    display: flex;
    padding: 10px;
}






footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}